.shopMain {
	height: 250px;
	padding: 10px 10px 10px 10px;
}
.eachShopContent{
	cursor: pointer;
	position: relative;
	padding-left: 30%;
	padding-right: 30%;
	width: 100%;
	height: 80%;
	background-color: #E3E3E3;
}
.eachShopContent img {
	height: 100%;
	width: 100%;

}
.productInformation{
	height: 20%;
	width: 100%;
}
.productName{
  width: 140px;
  height: 8.5px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: black;

}
.heart_icon {
  width: 8.7px;
  height: 7.9px;
}
.views-eye-copy-8 {
  width: 15.3px;
  height: 8.7px;
}
.likes{
	padding-left: 5px;
	padding-right: 5px;
}
.productInformation .mrpToRight {
  float:right;
  padding-right: 10px;
  color:red;
  font-weight: bold;
  text-decoration: line-through;
}
.productInformation .sellingPriceToRight{
	float:right;
	padding-left: 10px;
	font-weight: bold;
}